[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-cors-headers = "*"
pillow = "*"
termcolor = "*"
colorama = "*"
django-grappelli = "*"
django-graphql-jwt = "==0.3.0"
django-graphql-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
